%p
  %strong
    = labels.meet_me_in + trip.city + labels.for
%p
  %strong
    = trip.activity
%p
  = activity.format(trip.activity_date)
%button.btn
  = "Lets Go!"
%button.btn
  = "Lets do something else"
