.container-fluid
  .row-fluid
    .span12
      .row.text-center
        .col-sm-4
          .thumbnail
            %p
              %strong
                = "Maya"
            %p Tel Aviv
        .col-sm-4
          .thumbnail
            %p
              %strong
                = "Lorena"
            %p= "Bilboa"
        .col-sm-4
          .thumbnail
            %p
              %strong
                = "Dori"
            %p Bilboa
        .col-sm-4
          .thumbnail
            %p
              %strong
                = "Charlie"
            %p= "Barcelona"
        .col-sm-4
          .thumbnail
            %p
              %strong
                = "Diana"
            %p=  "Lisboa"
        .col-sm-4
          .thumbnail
            %p
              %strong
                = "Magdelena"
            %p=   "Lisbon"
