<div class="container-fluid">
  <h3> Add A Trip: </h3>
  <div class="form-group">
    <div class="col-xs-4">
      <%= form_for(:trip ) do |f| %>
        <%= f.text_field :city, class: 'form-control', placeholder: 'City'%>
        <%= f.text_field :in, class: 'form-control', placeholder: 'When I Arrive'%>
        <%= f.text_field :out, class: 'form-control', placeholder: 'When I Leave'%>
      <%= f.submit "Go!", class: "btn btn-sm btn-primary" %>
    <% end %>
    </div>
  </div>
</div>
