<h1> Welcome to the Dashboard </h1>

<div class="container-fluid">
  <div>
  <%= @user.name %>
</div>
  <%= image_tag @user.image %>
</div>

<%= render 'dashboards/no_trips' %>
<%= render 'dashboards/ask_me_about' %>
<%= render 'dashboards/lets_meet' %>
<%= render 'dashboards/add_a_trip' %>
