<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
        <!--Sidebar content-->
        <ul>
        <%= image_tag @user.image + "?type=large" %>
        <%= @user.name %>
        <%= @user.provider %>
        <h5> Edit Profile </h5>
        <h5> Add A Trip </h5>
      </ul>
    </div>
    <div class="span9">
      <!--Body content-->
      <div class="row text-center">
        <div class="col-sm-4">
          <div class="thumbnail">
            <p><strong><%= labels.inbox %></strong></p>
            <p>10 messages</p>
            <button class="btn">Open</button>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="thumbnail">
            <p><strong><%= labels.upcoming_trips %></strong></p>
            <p><%= dashboard.trip_count%> </p>
            <button class="btn"><%= buttons.update %></button>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="thumbnail">
            <p><strong>Past Trips</strong></p>
            <p>4</p>
            <button class="btn"><%= labels.take_a_look %></button>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="thumbnail">
            <p><strong><%= labels.ask_me_about %></strong></p>
            <p>3</p>
            <button class="btn">Update</button>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="thumbnail">
            <p><strong><%= labels.meet_me_for %></strong></p>
            <p>3</p>
            <button class="btn">Update</button>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="thumbnail">
            <p><strong><%= labels.friends %></strong></p>
            <p>10</p>
            <button class="btn">Update</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
