<% if current_user.trips.count == 0 %>
  <h1>You have no trips planned, <%= current_user.name %> . </h1>
  <h1>Where are you going ? </h1>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for(:trip ) do |f| %>
        <%= f.label :city %>
        <%= f.text_field :city, class: 'form-control' %>

        <%= f.label :country %>
        <%= f.text_field :country, class: 'form-control' %>

        <%= f.submit "Add A Trip", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
<% else %>
  <h1> Your Trips </h1>
  <% @trips.each do |trip| %>
    <%= trip.city =%>,
    <%= trip.country =%>
  <% end %>
<% end %>
