<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "SheNomads", '#', id: "logo" %>
    <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    <nav>
      <ul class="nav navbar-nav navbar-right">
       <% if logged_in? %>
        <li><%= link_to "Dashboard",   '/dashboard' %></li>
        <li><%= link_to "Inbox",   '#' %></li>
        <li><%= link_to "Your Trips",   '/trips' %></li>
        <li><%= link_to "Profile",   '#' %></li>
        <li><%= link_to "Log Out", '/logout' %></li>
       <% else %>
        <li><%= link_to "Log in", '/auth/facebook' %></li>
       <% end %>
      </ul>
    </nav>
  </div>
</header>
